
div.luajs-debug {
	position: fixed;
	top: 0;
	right: 20px;
	width: 658px;
	background: #ddd;
	background: -webkit-linear-gradient(#eee,#ddd);
	background: -moz-linear-gradient(#eee,#ddd);
	background: -o-linear-gradient(#eee,#ddd);
	background: -ms-linear-gradient(#eee,#ddd);
	background: linear-gradient(#eee,#ddd);
	border: 1px solid #bbb;
	border-top: none;
	border-radius: 0 0 8px 8px;
	padding: 2px 4px;
}


div.luajs-debug.showing-code {
	padding: 2px 4px 4px 4px;
}


div.luajs-debug .buttons {
	font-family: monospace;
	font-size: 11px;
	line-height: 20px;
	padding-left: 3px;
}


div.luajs-debug button {
	border: 1px solid #aaa;
	background-color: transparent;
	border-radius: 8px;
	margin-left: 2px;
	padding-left: 5px;
}	padding-right: 5px;
}


div.luajs-debug button:hover {
	background-color: d0d0d0;
}


div.luajs-debug.stop-at-breakpoints button.breakpoints {
	background-color: #bfbfbf;
}


div.luajs-debug.stop-at-breakpoints ol li.breakpoint code:before {
	background-color: #c66;
}


div.luajs-debug.showing-code button.toggle-code {
	background-color: #bfbfbf;
}


div.luajs-debug.showing-code {
	background: #ddd;
}


div.luajs-debug div.code {
	display: none;
	position: relative;
	height: 498px;
	width: 448px;
	overflow: auto;
	border: 1px solid #bbb;
}

div.luajs-debug.showing-code div.code {
	display: inline-block;
}


div.luajs-debug ol {
	display: inline-block;
	font-family: monospace; 
	font-size: 9px;
	margin: 2px 0 0;
	padding-right: 0;
	counter-reset: li;
	background-color: #bbb;
}


div.luajs-debug ol li {
	min-width: 500px;
	white-space: pre;
	position: relative;
	margin: 0;
	list-style: none;
}


div.luajs-debug ol li.load-error {
	min-width: 0;
	text-align: center;
	font-size: 11px;
	color: #722;
	padding: 2px;
}
 

div.luajs-debug ol li code {
	display: block;
	width: 100%;
	background-color: #fff;
	color: #111;
	font-size: 11px;
	border-left: 1px solid #888;
	padding: 1px 0;
	margin-left: -10px;
	padding-right: 10px;
	text-indent: 4px;
}


div.luajs-debug ol li code:before {
	content: counter(li);
    counter-increment: li;
	display: inline-block;
	text-align: right;
	padding-right: 3px;
	width: 28px;
	position: absolute;
	left: -40px;
	cursor: pointer;
	color: #555;

	font-size: 9px;
	line-height: 14px;
	height: 13px;
}


div.luajs-debug ol li.breakpoint code:before {
	color: #822;
}


div.luajs-debug ol li code:after {
	content: ' ';
}


div.luajs-debug ol li.highlighted code {
	border-top: 1px solid #66f; 
	border-bottom: 1px solid #66f; 
	background-color: #ccf;
	padding: 0 10px 0 0;
}


div.luajs-debug ol li.highlighted.error code {
	border-color: #f55; 
	background-color: #faa;
}


div.luajs-debug div.inspector {
	display: none;
	font-family: monospace; 
	height: 498px;
	overflow-y: auto;
	background-color: #fff;
	vertical-align: top;
	margin-left: 4px;
	border: 1px solid #bbb;
	font-size: 11px;
}


div.luajs-debug.showing-code div.inspector {
	display: inline-block;
}


div.luajs-debug div.inspector dl {
	width: 200px;
	margin: 0;
}

div.luajs-debug div.inspector dt,
div.luajs-debug div.inspector dd {
	width: 48%;
	float: right;
	margin: 0;
	padding: 4px 0;
	border-top: 1px solid #eee;
	color: #555;
	text-overflow: ellipsis;
	position: relative;
}

div.luajs-debug div.inspector dt {
	float: left;
	clear: both;
	text-indent: 3px;
	color: #000;
	overflow: hidden;
}

div.luajs-debug dd p.table-inspector {
	top: 50%;
	right: 50%;
	opacity: 0;
	display: none;
}

div.luajs-debug p.table-inspector {
	position: absolute;
	border: 1px solid #ccc;
	background-color: #ffc;
	padding: 4px 6px;
	white-space: pre;
	line-height: 15px;
	z-index: 1;
	font-family: monospace;
	color: #555;
	font-size: 11px;	
}

div.luajs-debug div.inspector h6 {
	clear: both;
	background-color: #ccc;
	margin: 0;
	font-size: 12px;
	font-weight: normal;
	padding: 1px 3px;
	margin-top: 4px;
}

div.luajs-debug div.inspector h6:first-child {
	margin-top: 0;
}


