
div.luajs-debug {
	position: fixed;
	top: 0;
	right: 0;
	width: 400px;
	background-color: #ddd;
}


div.luajs-debug .buttons {
	
}


div.luajs-debug button.step-in {
	/* TODO */
}


div.luajs-debug button.step-in.disabled {
	/* TODO */
}


div.luajs-debug button.breakpoints {
	/* TODO */
}


div.luajs-debug.stop-at-breakpoints button.breakpoints {
	/* TODO */
}


div.luajs-debug button.toggle-code {
	/* TODO */
}


div.luajs-debug.showing-code button.toggle-code {
	/* TODO */
}


div.luajs-debug ol {
	display: none;
	font-family: monospace; 
	max-height: 500px;
	overflow: auto;
	color: #666;
	font-size: 9px;
	margin: 0;
	padding-right: 0;
	counter-reset: li;
	background-color: #bbb;
}


div.luajs-debug.showing-code ol {
	display: block;
}


div.luajs-debug ol li {
	min-width: 500px;
	white-space: pre;
	position: relative;
	z-index: 2;
	list-style: none;
}
 

div.luajs-debug ol li code {
	display: block;
	width: 100%;
	background-color: #fff;
	color: #111;
	font-size: 11px;
	border-left: 1px solid #888;
	padding: 1px 0;
	margin-left: -10px;
	padding-right: 10px;
	text-indent: 4px;
}


div.luajs-debug ol li code:before {
	content: counter(li);
    counter-increment: li;
	display: inline-block;
	text-align: right;
	padding-right: 3px;
	width: 27px;
	position: relative;
	left: -35px;
	cursor: pointer;
	z-index: 0;
}


div.luajs-debug ol li.breakpoint code:before {
	background-color: #c66;
	color: #822;
}


div.luajs-debug ol li code:after {
	content: '';
}


div.luajs-debug ol li.highlighted code {
	border-top: 1px solid #55f; 
	border-bottom: 1px solid #55f; 
	background-color: #aaf;
	padding: 0 10px 0 0;
}


div.luajs-debug ol li.highlighted.error code {
	border-color: #f55; 
	background-color: #faa;
}


